page-choosecab {
    .bg-img {
        background: url(../../assets/imgs/home-bg.jpg);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .header .toolbar-background {
        background: transparent !important;
    }
    .header button ion-icon {
        color: #000000 !important;
    }
    .header::after {
        display: none;
    }
    .header-ios .toolbar-background-ios,
    .footer-ios .toolbar-background-ios {
        border: none;
    }
    .full {
        border-radius: 5px !important;
        height: 42px;
    }
    .pickup,
    .drop {
        width: 100px;
        background: #fff;
        padding: 7px 5px 7px 10px;
        border-left: 8px solid #74d014;
        border-radius: 4px;
        font-size: 1.2rem;
        font-weight: 500;
        position: fixed;
        right: 30px;
    }
    .pickup {
        border-color: #fbbd00 !important;
        left: 38px !important;
        top: 30%;
    }
    .card-box {
        position: fixed;
        bottom: 0px;
        width: 100%;
        .card {
            border-radius: 0 !important;
            width: 100%;
            margin: 0 !important;
        }
        small.text-light {
            color: #626262 !important;
        }
        ion-card-content {
            padding: 0 5px 5px !important;
        }
    }
    .card-box {
        .card-header {
            font-size: 1.2rem;
            font-weight: 500;
            text-align: center;
            display: flex;
            align-items: center;
            small {
                font-size: 1.1rem;
                display: flex;
                align-items: center;
                .icon {
                    font-size: 1.5rem;
                }
                .icon[padding-right] {
                    padding-right: 5px !important;
                }
            }
        }
        .cab-scroll {
            overflow-x: auto;
            padding-bottom: 1rem;
            .cab-container {
                display: block;
                padding-left: 16px;
                clear: both;
                width: 470px;
                padding-top: 10px;
                &::after {
                    clear: both;
                    content: '';
                    display: block;
                    width: 100%;
                }
                .cab-type {
                    width: 85px;
                    display: inline-block;
                    .img-box {
                        width: 65px;
                        height: 65px;
                        margin-bottom: 20px;
                        text-align: center;
                        margin: auto;
                        opacity: 0.6;
                        img {
                            display: block;
                            -webkit-filter: grayscale(100%);
                            /* Safari 6.0 - 9.0 */
                            filter: grayscale(100%);
                        }
                        .badge {
                            position: relative;
                            top: -84px;
                            left: -23px;
                            font-size: 1rem;
                            z-index: 999;
                            font-weight: 300;
                            border-radius: 3px !important;
                            display: none;
                        }
                    }
                    .img-box.active {
                        width: 100%;
                        max-width: 75px;
                        height: 75px;
                        text-align: center;
                        margin-bottom: 0;
                        opacity: 1.6;
                        img {
                            -webkit-filter: grayscale(0%);
                            /* Safari 6.0 - 9.0 */
                            filter: grayscale(0%);
                            box-shadow: 11px 12px 30px 0px #cccc;
                            border-radius: 50%;
                        }
                        .badge {
                            display: inline-block;
                        }
                    }
                    h4 {
                        font-size: 1.1rem;
                        margin-top: 1rem;
                        font-weight: 500;
                        line-height: 8px;
                        letter-spacing: 1px;
                        padding-left: .5rem;
                    }
                    small {
                        padding-left: .5rem;
                    }
                }
            }
            h2 {
                font-size: 1.4rem;
                font-weight: 600;
                padding-bottom: 4px;
            }
            p {
                font-size: 1rem;
            }
        }
    }
    .mx-a,
    .mr-a {
        margin-right: auto;
    }
    .mx-a,
    .ml-a {
        margin-left: auto;
    }
    .autoSuggestBar{
     width:100%;
     display: flex;
     justify-content: center;
    }
}
