<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content>
    <div #map id="map" class="mymap">
        <img src="assets/imgs/marker.png" class="centerMarkerImg" />
    </div>
    <!-- auto search start -->
    <div class="autoSuggestBar">
        <ion-auto-complete [options]="{ placeholder : 'Select Brand : Samsung' }" [(ngModel)]="brand" (itemSelected)="onSelectMobileBrand()"
            [dataProvider]="brandAutoCompleteDataProvider">
        </ion-auto-complete>
    </div>
    <!-- <h1>{{model}}</h1> -->
    <!-- Second search bar -->
    <div class="autoSuggestBar" *ngIf="showMobileAutoSearch">
        <ion-auto-complete [options]="{ placeholder : 'Select Mobile : Samsung J2' }" [(ngModel)]="mobile"
            (itemSelected)="onSelectMobile(mobile)" [dataProvider]="mobileAutoCompleteDataProvider">
        </ion-auto-complete>
    </div>
    <!--third search start-->

    <!-- auto search end -->



    <!-- <div class="drop">
        <span class="text-black">Symmit
                  <ion-icon  padding-left name="ios-arrow-forward"></ion-icon>
        </span>
    </div>
    <div class="pickup">
        <span class="text-black">Newark
         <ion-icon  padding-left name="ios-arrow-forward"></ion-icon>
        </span>
    </div> -->



    <div class="card-box">
        <ion-card class="text-black">
            <ion-card-header>

                <!-- <small text-left class="mr-a">
                    <ion-icon padding-right name="md-card" class="text-green"></ion-icon>
                    Cash On Repair
                </small> -->
                <span text-center class="mx-a">Choose Issue Type</span>
                <!-- <small text-right class="ml-a">
                    <ion-icon padding-right name="md-person-add" class=text-green></ion-icon>
                    1
                </small> -->
            </ion-card-header>
            <ion-card-content>
                <div class="cab-scroll bg-white">
                    <div class="cab-container">
                        <div class="cab-type" *ngFor="let mobileRepairFee of mobileRepairFeesProvider.MobileRepairFees">
                            <div [ngClass]="(mobileRepairFee.IsActive===true)?'img-box active': 'img-box'" (click)="onSelectIssueType(mobileRepairFee)">
                                <img src="assets/imgs/car-1.png">
                                <!-- <ion-badge item-end class="bg-green">2 mins</ion-badge> -->
                            </div>
                            <h4 class="text-black " [innerText]="mobileRepairFee.MobileFaultName"></h4>
                            <small class="text-light" [innerText]="(mobileRepairFee.IsActive===true?'img-box ': 'img-box active')"></small>
                        </div>
                        <!-- <div class="cab-type">
                            <div class="img-box active">
                                <img src="assets/imgs/car-1.png">
                                <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            </div>
                            <h4 class="text-black ">GoMeOnly</h4>
                            <small class="text-light ">$45 - $50</small>
                        </div> -->
                        <!-- <div class="cab-type ">
                            <div class="img-box">
                                <img src="assets/imgs/car-1.png">
                                <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            </div>
                            <h4 class="text-black ">GoBigger</h4>
                            <small class="text-light ">$45 - $50</small>
                        </div>
                        <div class="cab-type ">
                            <div class="img-box">
                                <img src="assets/imgs/car-1.png">
                                <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            </div>
                            <h4 class="text-black">GoFast</h4>
                            <small class="text-light ">$45 - $50</small>
                        </div>
                        <div class="cab-type ">
                            <div class="img-box">
                                <img src="assets/imgs/car-1.png">
                                <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            </div>
                            <h4 class="text-black ">GoShare</h4>
                            <small class="text-light ">$45 - $50</small>
                        </div> -->
                    </div>
                </div>
                <ion-row padding-left padding-right>
                    <!-- <ion-col col-2>
                        <button ion-button full class="bg-green  shadow-green full">
                            <ion-icon name="md-time"></ion-icon>
                        </button>
                    </ion-col> -->
                    <ion-col col-6>
                        <button ion-button full class="bg-green shadow-green full" (click)="schedulePage()">
                            REPAIR LATER</button>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button full class="bg-green shadow-green full" (click)="schedulePage()">
                            REPAIR NOW</button>
                    </ion-col>
                </ion-row>

            </ion-card-content>
        </ion-card>
    </div>
</ion-content>