page-location {
    .bg-img {
        background: url(../../assets/imgs/home-bg.jpg);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .bg-yellow {
        background: #ffca28!important;
    }
    .border-bottom {
        border-bottom: 1px solid #ccc !important;
    }
    .border-none {
        border-bottom: none !important;
    }
    .item-inner {
        border-bottom: 0 !important;
    }
    .card {
        border-radius: 10px !important;
        .card-content {
            padding: 0 !important;
        }
        [col-10] {
            padding: 0 !important;
        }
        .row {
            border-radius: 10px;
            &.shadow-black {
                box-shadow: 0px 18px 22px rgba(0, 0, 0, 0.06);
            }
        }
        .form {
            border-radius: 10px;
            overflow: hidden;
            ion-item {
                padding-left: 0 !important;
                width: 100% !important;
                .item-inner {
                    padding-left: 0px;
                    border-bottom: none !important;
                    ion-label {
                        font-size: 1.3rem;
                        font-size: 1.3rem;
                        width: 36px;
                        display: block;
                    }
                    .text-input {
                        font-size: 1.5rem !important;
                        font-weight: 500 !important;
                    }
                }
            }
        }
        .active-stage {
            width: 50%;
            max-width: 200px;
            margin: auto;
            position: relative;
            padding-top: 13px;
            span {
                width: 20px;
                display: block;
                background: #fff;
                margin: auto;
                strong {
                    margin: auto;
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
                &.col-1 {}
                &.col-2 {
                    width: 1px;
                    height: 35px;
                    border-radius: 0;
                    padding: 2px 0;
                    margin: -0px 0 0px 9.81px;
                    background: #a0a0a0;
                }
                &.col-3 {}
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: calc(100% - 50px);
                left: 0;
                right: 0;
                margin: auto;
                height: 10px;
                background: #ccc;
                top: 26px;
                z-index: -1;
            }
        }
    }
    .input-has-focus .item-inner {
        border-color: transparent !important;
        box-shadow: none !important;
    }
    .btn-fix {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding-top: 10px!important;
        padding-bottom: 10px!important;
        left: 0;
    }
    .full {
        border-radius: 6px;
        font-size: 1.2rem !important;
        letter-spacing: 1px !important;
    }
}
