page-bookride {
    .bg-img {
        background: url(../../assets/imgs/home-bg.jpg);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .header .toolbar-background {
        background: transparent !important;
    }
    .header button ion-icon {
        color: #000000 !important;
    }
    .header::after {
        display: none;
    }
    .header-ios .toolbar-background-ios,
    .footer-ios .toolbar-background-ios {
        border: none;
    }
    .pickup,
    .drop {
        width: 100px;
        background: #fff;
        padding: 7px 5px 7px 10px;
        border-left: 8px solid #74d014;
        border-radius: 4px;
        font-size: 1.2rem;
        font-weight: 500;
        position: fixed;
        right: 30px;
    }
    .pickup {
        border-color: #fbbd00 !important;
        left: 38px !important;
        top: 30%;
    }

    .full {
        border-radius: 5px !important;
    }
    .card-box {
        position: fixed;
        bottom: -11px;
        width: calc(100% - 2rem);
        left: 1rem;
        .card {
            border-radius: 10px 10px 0 0 !important;
        }
        small.text-light {
            color: #626262 !important;
        }
        ion-card-content {
            padding: 0 5px 5px !important;
        }
    }
    .card-box {
        .menu.heading {
            background: none !important;
            padding: 0 !important;
            ion-avatar {
                width: 45px !important;
                height: 45px !important;
            }
            h2 {
                font-size: 1.4rem;
                font-weight: 600;
                padding-bottom: 4px;
            }
            p {
                font-size: 1rem;
            }
        }
        .rateing {
            padding-left: 4px;
            ion-icon {
                font-size: 1.3rem !important;
                padding: 0 2px;
            }
        }
    }
    .car-details {
        small {
            display: block;
            margin-bottom: 3px;
        }
    }
}
