page-share {
    ion-card {
        margin: 0 !important;
        width: 100% !important;
        h2 {
            font-weight: 600 !important;
            font-size: 1.7rem !important;
        }
        p {
            color: #999 !important;
        }
    }
}
