page-mytrips {
    .header-ios .toolbar-background-ios {
        border: none;
    }
    .segment-button.segment-activated {
        background: transparent !important;
        border-bottom: 4px solid #fff !important;
    }
    .segment-button {
        border-color: transparent !important;
        font-size: 1.5rem !important;
        font-weight: 600 !important;
    }
    ion-card {
        border-radius: 10px !important;
    }
    .card p {
        font-weight: 500 !important;
        font-size: 1.3rem !important;
        &.text-light {
            color: #999 !important;
        }
    }
}
